.cartItem-number{
    border: none;
    text-align: center;
    width: 40px;
}
.cartItem-button{
    border-radius: 5px;
    width: 30px;
    border: 1px solid white;
}

.input-group-merge .form-control~.input-group-append>.error-input,
.error-input {
    border-color: red !important;
    color: red;
}

.error-input::placeholder {
    color: red;
}