.cartItem-number{
    border: none;
    text-align: center;
    width: 40px;
}
.cartItem-button{
    border-radius: 5px;
    width: 30px;
    border: 1px solid white;
}

.input-group-merge .form-control~.input-group-append>.error-input,
.error-input {
    border-color: red !important;
    color: red;
}

.error-input::placeholder {
    color: red;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.shopping-coupon-code {
    align-items: flex-start !important;
}

.error-text{
    color: red;
    font-style: italic;
    margin-top: 10px;
}

.green-message {
    color: green;
    font-style: italic;
    margin-top: 10px;
}

.cursor-pointer{
    cursor: pointer;
}

.discount_rate{
   position: absolute;
   top: 1.25rem;
   right: 0px;
   background-color: #ff6f61;
   color: white;
   font-size: .6875em;
   text-align: center;
   font-weight: bold;
   padding: 0 5px;
   line-height: 22px;
}

.hidden{
    display: none;
}

.custom-name-product{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.product_details{
    #productSlider a{
        display: block;
        & .active{
            display: none;
        }
    }
    .slider-thumbnail{
        cursor: pointer;
        display: flex;
        overflow: auto;
        & .active{
            border: 1px solid black;
        }
    }
}